.NewTodoForm form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    align-items: center;
    justify-content: space-between;

}

.NewTodoForm__input{
    font-size: 1.25rem;
    width:13em;
    color: #D62828;
    background-color: #EAE2B7;
    border: 0px;
    border-radius: 0.75em;
    padding: 0.5em;
}

.NewTodoForm__add{
    font-size: 1rem;
    color: white;
    background-color: #003049;
    border: 0px;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
}