.Todo{
    background-color: #F77F00;
    border-radius: 0.5em;
    padding: 1em;
    
}

.Todo .Todo__display{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.Todo__form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
}

.Todo__form .Todo__input{
    width: 15rem;
    border-radius: 0.25em;
    border: 0px;
    background-color: #eae2b791;
    font-size: 1.25rem;
    padding: 0.5em;
    color: #003049;
}

.Todo__form .Todo__save{
    font-size: 1rem;
    color: white;
    background-color: #003049;
    border: 0px;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
}

.Todo__edit{
    font-size: 1rem;
    color: white;
    background-color: #003049;
    border: 0px;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
}

.Todo__remove{
    font-size: 1rem;
    color: white;
    background-color: #D62828;
    border: 0px;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
}

.Todo__task{
    min-width: 15rem;
    text-align: start;
    font-size: 1.25rem;
    color:#003049;
    cursor: pointer;
}

.Todo__task--done{
    min-width: 15rem;
    text-align: start;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: line-through;
    color:#3e7491;
}