.Board{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.Board__title{
    font-size: 3em;
    color: azure;
}

.Board tbody{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5em;
}

.Board__row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
}

.Board__winner{
    color: darkorange;
}